/* Fonts */





/*color variables */

$bodyBg: #E6E7E8;
$textColor: #E6E6E6;
$primColor: #00BCAF;
$white: #ffffff;


/*global classes */

.container {
    margin: 0 auto;
    width: calc(100% - 270px);
    position: relative;

    @media(max-width:1600px) {
        width: calc(100% - 220px);
    }

    @media(max-width:1400px) {
        width: calc(100% - 200px);
    }

    @media(max-width:1200px) {
        width: calc(100% - 180px);
    }

    @media(max-width:1080px) {
        width: calc(100% - 150px);
    }

    @media(max-width:992px) {
        width: 100%;
        padding: 0 15px;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: $bodyBg;


}

* {
    box-sizing: border-box;
    outline: none;
}


header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $bodyBg;
    z-index: 99999;
    @media(max-width:767px){
        padding: 12px 0 ;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;

            img {
                height: 82px;

                @media(max-width:1400px) {
                    height: 72px;
                }

                @media(max-width:1200px) {
                    height: 62px;
                }

                @media(max-width:767px) {
                    height: 45px;
                    width: 125px
                }
            }

            &:nth-child(2) {
                @media(max-width:1080px) {
                    display: none;
                }
            }
        }
    }
}


.send_msg {
    margin-top: 200px;
    @media(max-width:767px){
        margin-top: 100px;
    }
    form {
        max-width: 460px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        .form-group {
            margin-bottom: 16px;
            @media(max-width:767px){
                margin-bottom: 8px;
            }
            input,
            textarea {
                width: 100%;
                border: none;
                resize: none;
                padding: 20px;
                font-size: 24px;
                border-radius: 20px;
                color: $textColor;
                @media(max-width:767px){
                    font-size: 16px;
                    padding: 12px;
                    border-radius: 12px;
                }
                &::placeholder {
                    color: $textColor;
                    font-size: 24px;
                    @media(max-width:767px){
                        font-size: 16px;
                    }
                }
            }

            textarea {
                height: 120px;
            }

            input {
                height: 60px;
                @media(max-width:767px){
                    height: 45px;
                }
            }

            button {
                background-color: #00BCAF;
                display: block;
                width: 240px;
                margin: auto;
                position: relative;
                border: none;
                height: 60px;
                padding: 0;
                border-radius: 12px;
                box-shadow: 0 0 5px #999;
                text-align: start;
                padding-inline-start: 50px;
                margin-bottom: 70px;
                color: $white;
                font-size: 24px;
                margin-top: 40px;
                @media(max-width:767px){
                    font-size: 16px;
                    padding-inline-start: 55px;
                    margin-top: 24px;
                    margin-bottom: 32px;
                    width: 200px;
                    height: 45px;
                }
                img {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                }
            }
        }
    }
    .message_bg{
        width: 100%;
    }
}