/* Fonts */
/*color variables */
/*global classes */
.container {
  margin: 0 auto;
  width: calc(100% - 270px);
  position: relative;
}
@media (max-width: 1600px) {
  .container {
    width: calc(100% - 220px);
  }
}
@media (max-width: 1400px) {
  .container {
    width: calc(100% - 200px);
  }
}
@media (max-width: 1200px) {
  .container {
    width: calc(100% - 180px);
  }
}
@media (max-width: 1080px) {
  .container {
    width: calc(100% - 150px);
  }
}
@media (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #E6E7E8;
}

* {
  box-sizing: border-box;
  outline: none;
}

header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #E6E7E8;
  z-index: 99999;
}
@media (max-width: 767px) {
  header {
    padding: 12px 0;
  }
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav a {
  text-decoration: none;
}
header nav a img {
  height: 82px;
}
@media (max-width: 1400px) {
  header nav a img {
    height: 72px;
  }
}
@media (max-width: 1200px) {
  header nav a img {
    height: 62px;
  }
}
@media (max-width: 767px) {
  header nav a img {
    height: 45px;
    width: 125px;
  }
}
@media (max-width: 1080px) {
  header nav a:nth-child(2) {
    display: none;
  }
}

.send_msg {
  margin-top: 200px;
}
@media (max-width: 767px) {
  .send_msg {
    margin-top: 100px;
  }
}
.send_msg form {
  max-width: 460px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.send_msg form .form-group {
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .send_msg form .form-group {
    margin-bottom: 8px;
  }
}
.send_msg form .form-group input,
.send_msg form .form-group textarea {
  width: 100%;
  border: none;
  resize: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 20px;
  color: #E6E6E6;
}
@media (max-width: 767px) {
  .send_msg form .form-group input,
  .send_msg form .form-group textarea {
    font-size: 16px;
    padding: 12px;
    border-radius: 12px;
  }
}
.send_msg form .form-group input::-moz-placeholder, .send_msg form .form-group textarea::-moz-placeholder {
  color: #E6E6E6;
  font-size: 24px;
}
.send_msg form .form-group input::placeholder,
.send_msg form .form-group textarea::placeholder {
  color: #E6E6E6;
  font-size: 24px;
}
@media (max-width: 767px) {
  .send_msg form .form-group input::-moz-placeholder, .send_msg form .form-group textarea::-moz-placeholder {
    font-size: 16px;
  }
  .send_msg form .form-group input::placeholder,
  .send_msg form .form-group textarea::placeholder {
    font-size: 16px;
  }
}
.send_msg form .form-group textarea {
  height: 120px;
}
.send_msg form .form-group input {
  height: 60px;
}
@media (max-width: 767px) {
  .send_msg form .form-group input {
    height: 45px;
  }
}
.send_msg form .form-group button {
  background-color: #00BCAF;
  display: block;
  width: 240px;
  margin: auto;
  position: relative;
  border: none;
  height: 60px;
  padding: 0;
  border-radius: 12px;
  box-shadow: 0 0 5px #999;
  text-align: start;
  padding-inline-start: 50px;
  margin-bottom: 70px;
  color: #ffffff;
  font-size: 24px;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .send_msg form .form-group button {
    font-size: 16px;
    padding-inline-start: 55px;
    margin-top: 24px;
    margin-bottom: 32px;
    width: 200px;
    height: 45px;
  }
}
.send_msg form .form-group button img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.send_msg .message_bg {
  width: 100%;
}/*# sourceMappingURL=style.css.map */